[*.cs]

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = silent

# U2U1009: Async or iterator methods should avoid state machine generation for early exits (throws or synchronous returns)
dotnet_diagnostic.U2U1009.severity = silent

# RCS1037: Remove trailing white-space.
dotnet_diagnostic.RCS1037.severity = silent

# RCS1194: Implement exception constructors.
dotnet_diagnostic.RCS1194.severity = silent

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = silent
csharp_using_directive_placement=outside_namespace:warning

# CC0021: Use nameof
dotnet_diagnostic.CC0021.severity = silent

# CC0022: Should dispose object
dotnet_diagnostic.CC0022.severity = silent

# CC0091: Use static method
dotnet_diagnostic.CC0091.severity = silent
